<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>
```

Once you've created all these files, let me know and we'll verify the structure looks right before moving on! Your `views` folder should look like this when done:
```
views/
  layouts/
    layout.ejs
  partials/
    head.ejs
    header.ejs
    navigation.ejs
    footer.ejs